.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.project-title {
  font-size: 30px;
  text-align: center;
  color:darkgoldenrod;
}

.image-loader-container {
  margin-top: 30px;
}

/* width */
.image-loader-container::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

/* Track */
.image-loader-container::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
.image-loader-container::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
.image-loader-container::-webkit-scrollbar-thumb:hover {
  background: #666;
}